@import "../../themes";
@import "../functions/functions.scss";

@mixin create-context($classes...) {
  @each $class in $classes {
    #{$class} & {
      @content;
    }
  }
}

@mixin create-component-context($classes...) {
  @each $class in $classes {
    :host-context(#{$class}) & {
      @content;
    }
  }
}

// @mixin create-theme-styles($styles) {
//   @each $theme, $varaibles in $themes {
//     @include create-context(".#{$theme}") {
//       @content;
//       transition: all 250ms ease-in;
//       @each $key, $value in $styles {
//         $val: value-from-theme($theme, $value);
//         #{$key}: #{$val};
//       }
//     }
//   }
// }

@mixin create-theme-styles($styles, $level: "global") {
  @each $theme, $varaibles in $themes {
    @if $level == "component" {
      @include create-component-context(".#{$theme}") {
        @content;
        transition: all 250ms ease-in;
        @each $key, $value in $styles {
          $color: value-from-theme($theme, $value);
          $val: $color;
          #{$key}: #{$val};
        }
      }
    } @else {
      @include create-context(".#{$theme}") {
        @content;
        transition: all 250ms ease-in;
        @each $key, $value in $styles {
          $color: value-from-theme($theme, $value);
          $val: $color;
          #{$key}: #{$val};
        }
      }
    }
  }
}
