@import "~@angular/material/theming";

$material-theme:(
    //font
    font-size:17px,
    font-family:"Roboto, Helvetica Neue, sans-serif",

    //colors
    primary:#{mat-color(mat-palette($mat-deep-orange,500))},
    secondary:#{mat-color(mat-palette($mat-lime))},
    btn-bg:#{mat-color(mat-palette($mat-green,300))},
    btn-color:#{mat-color(mat-palette($mat-blue,600))},
);